body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: 'Roboto Slab', serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 30%, rgb(44, 44, 43) 100%, rgb(88, 88, 88) 100%);
  color: white;
}
