name: Build

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install deps, build and run tests
        run: |
          npm ci
          npm run build --if-present
          npm run test
